-i https://pypi.org/simple

# Common requirements
# -----------------------
setuptools
wheel

# Development
# -----------------------

pre-commit>=3,<4

# Deployment
# -----------------------

ansible
