// api : default to 127.0.0.1:9010
var api_port = import.meta.env.VITE_REACT_APP_API_FASTAPI_SERVER_PORT || "9010";
var api_host = import.meta.env.VITE_REACT_APP_API_FASTAPI_SERVER_HOST || "localhost";
if (api_host === "localhost") {
    var api_url = "http://" + api_host + ":" + api_port + "/api/";
} else {
    var api_url = "http://" + api_host + "/api/";
}
// console.log("api_url : " + api_url);

export default api_url;
