.img-header {
    width: 100%;
}

.main-menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}

.MuiMenu-list {
    background-color: #76B72A;
}

/* .MuiSelect-select {
    color: #34515E !important;
}
.MuiMenuItem-root {
    color: #34515E !important;
} */

/* .MuiContainer-root {
    margin: unset !important;
    padding: 0px !important;
} */
