.leaflet-container {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}

.container-site-location {
    display: inline-flex;
    flex-direction: column;
    float: right;
    position: absolute;
    right: 10px;
}

.container-buttons-location {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: -10px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container-buttons-location {
        flex-direction: column;
        align-items: flex-start;
    }
}

.button-add-location {
    z-index: 1000 !important;
    background-color: rgb(52, 81, 94) !important;
    font-size: 15px !important;
    top: 17px !important;
    height: 32px !important;
    position: inherit !important;
    margin-right: 10px !important;
}

.button-add-location:hover {
    background-color: rgb(52, 81, 94) !important;
}

.button-stop-add-location {
    z-index: 1000 !important;
    background-color: rgb(52, 81, 94) !important;
    font-size: 15px !important;
    top: 17px !important;
    height: 32px !important;
    position: inherit !important;
    margin-right: 10px !important;
}

.button-stop-add-location:hover {
    background-color: rgb(52, 81, 94) !important;
}

.button-delete-last-location {
    z-index: 1000 !important;
    background-color: white !important;
    color: rgb(52, 81, 94) !important;
    font-size: 15px !important;
    top: 24px !important;
    height: 32px !important;
    position: inherit !important;
}

.p-maximum-locations-reached {
    margin: 0px 10px 0px 0px;
    color: rgb(52, 81, 94);
    font-size: 16px;
    font-weight: bold;
}

.paragraph-nb-tents-reserved {
    margin: 0 !important;
}

.legend-container {
    background-color: white;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    z-index: 1000;
    left: 10px;
    bottom: 10px;
    border-radius: 10px;
    max-width: 50vw;
}

@media only screen and (max-width: 600px) {
    .legend-container {
        left: 3vw;
        bottom: 7vw;
    }
}

.legend-row-container {
    display: inline-flex;
    flex-direction: row;
    padding: 4px;
    align-items: center;
}

.legend-row-symbol {
    width: 30px;
    height: 20px;
    margin: 0 10px 0 0;
    flex-shrink: 0;
}

.legend-row-text {
    font-size: 0.75rem;
    margin: 0;
}

.legend-row-symbol-limite-reserve-naturelle {
    background-color: rgba(0, 136, 91, 0);
    border: 2px solid rgba(0, 136, 91, 1);
}

.legend-row-symbol-non-reservable {
    background-color: rgba(231, 76, 60, 0.2);
    border: 2px solid rgba(231, 76, 60, 1);
}

.legend-row-symbol-tolere-reservable {
    background-color: rgba(39, 174, 96, 0.2);
    border: 2px solid rgba(39, 174, 96, 1);
}
