/* Conteneur principal */
.summary-and-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px; /* Plus large pour permettre l'affichage en ligne */
    margin: auto;
}

/* Récapitulatif */
.reservation-summary {
    width: 100%;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Titre du récapitulatif */
.reservation-summary h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

/* Élément du récapitulatif */
.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.summary-item:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
    color: #555;
}

.value {
    color: #222;
}

.captured-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.captured-images h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.images-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.captured-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ccc;
}

@media (max-width: 850px) {
    .images-container {
        flex-direction: column; /* Images en colonne sur mobile */
        align-items: center;
    }
}
